<template>
  <div id="wrap" ref="wrap">
    <div id="box" ref="box"></div>
    <div id="container" ref="container"></div>
  </div>
</template>

<script>

let box, wrap, container, target;
export default {
  name: 'App',
  data() {
    return {
      hitRes: false,
      fromContainer: false,
      restLeft: 0,
      restTop: 0,
    }
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      box = this.$refs['box'];
      wrap = this.$refs['wrap'];
      container = this.$refs['container'];
      box.addEventListener("mousedown", this.mouseDown);
      container.addEventListener('mousedown', this.mouseDown);
    },
    hitRectTest(rectA, rectB) {
      if (rectB.right < rectA.left) return false;
      if (rectB.left > rectA.right) return false;
      if (rectB.bottom < rectA.top) return false;
      if (rectB.top > rectA.bottom) return false;
      return true;
    },
    mouseDown() {
      this.fromContainer = box.parentNode === container;
      target = event.target;
      const other = [box, container][+(target !== box)];
      this.restLeft = event.clientX - wrap.offsetLeft - other.offsetLeft;
      this.restTop = event.clientY - wrap.offsetTop - other.offsetTop;
      
      if (document) {
        document.onmousemove = this.mouseMove;
        document.onmouseup = this.mouseUp;
      }

      if (target.setCapture) {
        target.setCapture();
      }

      if (box.parentNode === container) {
        wrap.appendChild(box);
        box.style.left = container.offsetLeft + 'px';
        box.style.top = container.offsetTop + 'px';
      }
      return false;
    },
    mouseMove(event) {
      const other = [box, container][+(target !== box)];
      let boxLeft = event.clientX - this.restLeft - wrap.offsetLeft;
      let boxTop = event.clientY - this.restTop - wrap.offsetTop;
      const parentOffset = [0, 100][+this.fromContainer];
      let maxLeft = wrap.offsetWidth - other.offsetWidth - parentOffset;
      let maxTop = wrap.offsetHeight - other.offsetHeight - parentOffset;
      let minLeft = 0 - parentOffset;
      let minTop = 0 - parentOffset;
      if (boxLeft < minLeft) {
        boxLeft = minLeft;
      }
      if (boxLeft > maxLeft) {
        boxLeft = maxLeft;
      }
      if (boxTop < minTop) {
        boxTop = minTop;
      }
      if (boxTop > maxTop) {
        boxTop = maxTop;
      }
      target.style.left = boxLeft + 'px';
      target.style.top = boxTop + 'px';

      // 碰撞检测
      const boxRect = box.getBoundingClientRect();
      const containerRect = container.getBoundingClientRect();
      this.hitRes = this.hitRectTest(boxRect, containerRect);
      container.style.borderColor = ["black", "red"][+this.hitRes];
    },
    mouseUp() {
      document.onmousemove = null;
      document.onmouseup = null;
      if (target.releaseCapture) {
        target.releaseCapture();
      }
      if (this.hitRes) {
        if(box.parentNode !== container) {
          container.appendChild(box);
          box.style.left = 0;
          box.style.top = 0;
        }
      } else {
        if (box.parentNode !== wrap) {
          wrap.appendChild(box);
          const parentOffset = [0, 100][+this.fromContainer];
          box.style.left = parseFloat(box.style.left) + parentOffset + "px";
          box.style.top = parseFloat(box.style.top) + parentOffset + "px";
        }
      }
      return false;
    }
  }
}
</script>

<style scoped>
#wrap {
  width: 600px;
  height: 500px;
  border: 1px solid #ccc;
  position: relative;
  margin: auto;
}

#box {
  width: 100px;
  height: 100px;
  background-color: chocolate;
  position: absolute;
  display: inline-block;
  left: 250px;
  top: 150px;
  z-index: 1;
}

#container {
  width: 100px;
  height: 100px;
  position: absolute;
  display: inline-block;
  border: solid 2px;
  left: 100px;
  top: 100px;
  z-index: 0;
}
</style>