<template>
  <div id="tag-wrap">
    <div id="search-box">
      <input type="text" id="tag-name" v-model="searchName" @input="searchTag()" placeholder="Input title to filter" />
      <button class="button" @click="searchTag()">Search</button>
    </div>
    <div class="tag-list-box" ref="tag-list-box">
      <ListItem v-for="(item, index) in list" :key="item.key" :title="item.title" 
        :tags="searchName.length ? item.searchTags : item.tags" 
        @add="openAddTagWindow(item)" @remove="tag => removeTag(tag, item)"
        @dragstart.native="event => drag(event, index)"/>
    </div>
    <AddTag :visible="addTagWindowIsOpen" @close="addTagWindowClose"/>
  </div>
</template>

<script>
import ListItem from '@/components/ListItem.vue';
import AddTag from "@/components/AddTag.vue";
import data from '@/data-provider/tags.js';

let tagListBox;
export default {
  name: 'TagComp',
  components: {
    ListItem,
    AddTag
  },
  data() {
    return {
      list: [],
      searchName: '',
      addTagWindowIsOpen: false,
      addIndex: 0,
      insertIndex: 0
    }
  },
  created() {
    this.list = data;
  },
  mounted() {
    this.initAddEventListener();
  },
  methods: {
    initAddEventListener() {
      tagListBox = this.$refs['tag-list-box'];
      tagListBox.addEventListener('drop', this.drop);
      tagListBox.addEventListener('dragover', this.dragOver);
    },
    searchTag() {
      this.list = this.list.map(item => ({
        title: item.title,
        searchTags: item.tags.filter(tag => tag.indexOf(this.searchName) !== -1),
        tags: item.tags
      }))
    },
    openAddTagWindow(listItem) {
      this.addIndex = this.list.indexOf(listItem);
      this.addTagWindowIsOpen = true;
    },
    addTagWindowClose(tagName, isAdd) {
      this.addTagWindowIsOpen = false;
      if (isAdd) {
        this.list[this.addIndex].tags.push(tagName);
      }
    },
    removeTag(tag, list) {
      const index = list.tags.indexOf(tag);
      if (index !== -1) {
        list.tags.splice(index, 1);
      }
    },
    drag(event, index) {
      event.dataTransfer.setData('offset', index);
    },
    drop(event) {
      const index = event.dataTransfer.getData('offset');
      const item = this.list.splice(index, 1);
      this.list.splice(this.insertIndex, 0, item[0]);
      event.preventDefault();
    },
    dragOver(event) {
      const top = tagListBox.getBoundingClientRect().top;
      const pointY = event.y - top;
      for(let i = 0; i < document.querySelectorAll('.tag-list').length; i++) {
        const item = document.querySelectorAll('.tag-list')[i];
        const rect = item.getBoundingClientRect();
        const recentTagList = rect.top - top + rect.height;
        if (pointY > recentTagList && pointY < recentTagList + rect.height) {
          this.insertIndex = i;
          break;
        }
      }
      event.preventDefault();
    }
  }
}
</script>

<style scoped>
#wrap {
  width: 600px;
  height: 500px;
  border: 1px solid #ccc;
  position: relative;
  margin: 50px 50px 0 0;
}

#box {
  width: 100px;
  height: 100px;
  background-color: chocolate;
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  z-index: 1;
}

#container {
  width: 100px;
  height: 100px;
  position: absolute;
  display: inline-block;
  border: solid 2px;
  left: 100px;
  top: 100px;
  z-index: 0;
}

#search-box {
  display: flex;
  height: 30px;
}

#search-box>#tag-name {
  flex: 1;
  border: solid 1px rgb(216 222 229);
}

#search-box>button {
  margin: 0 0 0 10px;
  border-radius: 15px;
  border: none;
  padding: 3px 10px;
  background-color: #b2acfa;
  cursor: pointer;
}
</style>