<template>
    <div class="pop-window" :style="displayStyle">
        <div class="add-wrap">
            <div>Input the name of the tag you want to add</div>
            <input type="text" id="tag-add-input" v-model="tagName" />
            <div class="button-container">
                <button class="add-button" @click="toEmit('add')"><span>Add Tags</span></button>
                <button class="cancel-button" @click="toEmit()"><span>Cancel</span></button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AddTag',
    props: {
        visible: Boolean
    },
    data() {
        return {
            tagName: ''
        }
    },
    computed: {
        displayStyle() {
            return {
                display: this.visible ? 'inherit' : 'none'
            }
        }
    },
    methods: {
        toEmit(isAdd) {
            this.$emit('close', this.tagName, isAdd);
        }
    }
}
</script>
<style>
.pop-window {
    width: 100vw;
    height: 100vh;
    display: inherit;
    position: absolute;
    background-color: #666;
    z-index: 1;
    left: 0;
    top: 0
}

.add-wrap {
    background-color: #fff;
    width: 400px;
    height: 200px;
    margin: 10% auto;
}

.add-wrap> :first-child {
    text-align: center;
    padding-top: 30px;
}

#tag-add-input {
    display: block;
    width: 80%;
    margin: 10px auto;
}

.button-container {
    margin: 50px;
    position: relative;
    bottom: 0;
    text-align: center;
}

.button-container>button {
    padding: 5px 20px;
    color: #fff;
    border: none;
}

.button-container> :first-child {
    background-color: cornflowerblue;
    margin-right: 30px;
}

.button-container> :last-child {
    background-color: cadetblue;
}
</style>