<template>
    <div class='tag-list' draggable="true">
        <p>{{ title }}</p>
        <div class='tag-box'>
            <div class='tag-add' @click='addTag()'><span>＋</span></div>
            <Tag v-for="data in tags" :key="data.key" :label="data" @remove="removeTag(data)"/>
        </div>
    </div>
</template>

<script>
import Tag from "@/components/Tag.vue";

export default {
    name: 'ListItem',
    components: {
        Tag,
    },
    props: {
        title: String,
        tags: Array,
    },
    data() {
        return {
            isOpenAddWindow: false
        }
    },
    methods: {
        addTag() {
            this.$emit('add');
        },
        removeTag(tag) {
            this.$emit('remove', tag);
        }
    }
}
</script>

<style>
.tag-list {
    padding: 10px 15px 5px;
    margin: 10px 0;
    border: solid 1px #eee;
    cursor: pointer;
}

.tag-box {
    display: flex;
    align-items: center;
}

.tag-add {
    font-size: 24px;
    background-color: #6757f5;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.tag-add>span {
    width: 20px;
    height: 20px;
    display: inherit;
    position: relative;
    left: -2px;
    top: -7px;
}
</style>