<template>
    <div class='tag'>
        <p class='tag-label'>{{label}}</p>
        <div class='tag-icon' @click='removeTag()'>＋</div>
    </div>
</template>

<script>

export default {
    name: 'TagInstance',
    props: {
        label: String,
        index: Number,
    },
    methods: {
        removeTag(index) {
            this.$emit('remove', index);
        }
    }
}
</script>

<style scoped>
.tag {
    padding: 2px 2px 2px 5px;
    margin: 0 5px;
    border: solid 1px #ccc;
    border-radius: 20px;
    background-color: #9fb2c59e;
    display: flex;
    align-items: center;
    height: 20px;
}
.tag-icon {
    font-size: 25px;
    margin-left: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
</style>